/* general css for the whole project */
.card{
  box-shadow:0 0 2px rgb(223,16,138) ;
  border-radius: 0 !important;
}

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text{
  font-size: 1rem;
}
/* Main css */

body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{ 
  font-family: 'Lato', sans-serif, monospace;
}

/* override section for antd */

/* .ant-btn-primary{
  background-color: rgb(50,56,143);
  way to override ant css properties, rgb color is the purple one from pilates 360
} */ 

.ant-btn{
  background-color: rgb(50,56,143);
  color: rgb(223,16,138);
  font-weight: bold;
  box-shadow: 0 0 10px gray;
}

input{
  border-radius: 0 !important;
  border: 1px solid rgb(223,16,138, .08) !important;
  height: 40px !important;
}

/* change color and highlight the selected input */
input:focus{
  outline: 0;
  box-shadow: 0 6px 6px rgb(223,16,138);
  border: 1.5px solid rgb(50,56,143) !important;
}

/* Log in and Sign in css */
.register{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form{
  width: 400px;
}